DataExpressWeb/Web References/wsEmision/wsEmision.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerMensaje">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerMensajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerMensajeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerMensajeTecnico">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerMensajeTecnicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerMensajeTecnicoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerMensajeXml">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerMensajeXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerMensajeXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarComprobante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEmpleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ambiente" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarComprobanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelarComprobanteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobantePaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtInvoice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEmpleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ambiente" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codDoc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="guardarEnDisco" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="manual" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobantePaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComprobantePaqueteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibeInfoTxt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txtInvoice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEmpleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ambiente" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codDoc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="guardarEnDisco" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="manual" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="conector" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folioModificado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibeInfoTxtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibeInfoTxtResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WakeUp">
        <s:complexType />
      </s:element>
      <s:element name="WakeUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WakeUpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibeInfoPagos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonPagos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEmpleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ambiente" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codDoc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="guardarEnDisco" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="manual" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibeInfoPagosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibeInfoPagosResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibeInfoXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlInvoice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idEmpleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ambiente" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codDoc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="guardarEnDisco" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="manual" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibeInfoXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibeInfoXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPdfCancelacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idComprobante" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPdfCancelacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarPdfCancelacionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PreviewPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtInvoice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PreviewPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PreviewPdfResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcEmisor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerPDFResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcEmisor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerXMLResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarPdfResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPdfPagos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emisorDb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idComprobante" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarPdfPagosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarPdfPagosResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Timbrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlInvoice" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ambiente" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numCert" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="certBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="claveKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbrarResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerMensajeSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerMensaje" />
  </wsdl:message>
  <wsdl:message name="ObtenerMensajeSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerMensajeResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerMensajeTecnicoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerMensajeTecnico" />
  </wsdl:message>
  <wsdl:message name="ObtenerMensajeTecnicoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerMensajeTecnicoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerMensajeXmlSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerMensajeXml" />
  </wsdl:message>
  <wsdl:message name="ObtenerMensajeXmlSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerMensajeXmlResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarComprobanteSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarComprobante" />
  </wsdl:message>
  <wsdl:message name="CancelarComprobanteSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="ComprobantePaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:ComprobantePaquete" />
  </wsdl:message>
  <wsdl:message name="ComprobantePaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:ComprobantePaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="RecibeInfoTxtSoapIn">
    <wsdl:part name="parameters" element="tns:RecibeInfoTxt" />
  </wsdl:message>
  <wsdl:message name="RecibeInfoTxtSoapOut">
    <wsdl:part name="parameters" element="tns:RecibeInfoTxtResponse" />
  </wsdl:message>
  <wsdl:message name="WakeUpSoapIn">
    <wsdl:part name="parameters" element="tns:WakeUp" />
  </wsdl:message>
  <wsdl:message name="WakeUpSoapOut">
    <wsdl:part name="parameters" element="tns:WakeUpResponse" />
  </wsdl:message>
  <wsdl:message name="RecibeInfoPagosSoapIn">
    <wsdl:part name="parameters" element="tns:RecibeInfoPagos" />
  </wsdl:message>
  <wsdl:message name="RecibeInfoPagosSoapOut">
    <wsdl:part name="parameters" element="tns:RecibeInfoPagosResponse" />
  </wsdl:message>
  <wsdl:message name="RecibeInfoXmlSoapIn">
    <wsdl:part name="parameters" element="tns:RecibeInfoXml" />
  </wsdl:message>
  <wsdl:message name="RecibeInfoXmlSoapOut">
    <wsdl:part name="parameters" element="tns:RecibeInfoXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GenerarPdfCancelacionSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPdfCancelacion" />
  </wsdl:message>
  <wsdl:message name="GenerarPdfCancelacionSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPdfCancelacionResponse" />
  </wsdl:message>
  <wsdl:message name="PreviewPdfSoapIn">
    <wsdl:part name="parameters" element="tns:PreviewPdf" />
  </wsdl:message>
  <wsdl:message name="PreviewPdfSoapOut">
    <wsdl:part name="parameters" element="tns:PreviewPdfResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerPDFSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPDF" />
  </wsdl:message>
  <wsdl:message name="obtenerPDFSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPDFResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerXMLSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerXML" />
  </wsdl:message>
  <wsdl:message name="obtenerXMLSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GenerarPdfSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPdf" />
  </wsdl:message>
  <wsdl:message name="GenerarPdfSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPdfResponse" />
  </wsdl:message>
  <wsdl:message name="GenerarPdfPagosSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPdfPagos" />
  </wsdl:message>
  <wsdl:message name="GenerarPdfPagosSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPdfPagosResponse" />
  </wsdl:message>
  <wsdl:message name="TimbrarSoapIn">
    <wsdl:part name="parameters" element="tns:Timbrar" />
  </wsdl:message>
  <wsdl:message name="TimbrarSoapOut">
    <wsdl:part name="parameters" element="tns:TimbrarResponse" />
  </wsdl:message>
  <wsdl:portType name="WsEmisionSoap">
    <wsdl:operation name="ObtenerMensaje">
      <wsdl:input message="tns:ObtenerMensajeSoapIn" />
      <wsdl:output message="tns:ObtenerMensajeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajeTecnico">
      <wsdl:input message="tns:ObtenerMensajeTecnicoSoapIn" />
      <wsdl:output message="tns:ObtenerMensajeTecnicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajeXml">
      <wsdl:input message="tns:ObtenerMensajeXmlSoapIn" />
      <wsdl:output message="tns:ObtenerMensajeXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarComprobante">
      <wsdl:input message="tns:CancelarComprobanteSoapIn" />
      <wsdl:output message="tns:CancelarComprobanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComprobantePaquete">
      <wsdl:input message="tns:ComprobantePaqueteSoapIn" />
      <wsdl:output message="tns:ComprobantePaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoTxt">
      <wsdl:input message="tns:RecibeInfoTxtSoapIn" />
      <wsdl:output message="tns:RecibeInfoTxtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WakeUp">
      <wsdl:input message="tns:WakeUpSoapIn" />
      <wsdl:output message="tns:WakeUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoPagos">
      <wsdl:input message="tns:RecibeInfoPagosSoapIn" />
      <wsdl:output message="tns:RecibeInfoPagosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoXml">
      <wsdl:input message="tns:RecibeInfoXmlSoapIn" />
      <wsdl:output message="tns:RecibeInfoXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarPdfCancelacion">
      <wsdl:input message="tns:GenerarPdfCancelacionSoapIn" />
      <wsdl:output message="tns:GenerarPdfCancelacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PreviewPdf">
      <wsdl:input message="tns:PreviewPdfSoapIn" />
      <wsdl:output message="tns:PreviewPdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPDF">
      <wsdl:input message="tns:obtenerPDFSoapIn" />
      <wsdl:output message="tns:obtenerPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerXML">
      <wsdl:input message="tns:obtenerXMLSoapIn" />
      <wsdl:output message="tns:obtenerXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarPdf">
      <wsdl:input message="tns:GenerarPdfSoapIn" />
      <wsdl:output message="tns:GenerarPdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarPdfPagos">
      <wsdl:input message="tns:GenerarPdfPagosSoapIn" />
      <wsdl:output message="tns:GenerarPdfPagosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Timbrar">
      <wsdl:input message="tns:TimbrarSoapIn" />
      <wsdl:output message="tns:TimbrarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsEmisionSoap" type="tns:WsEmisionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerMensaje">
      <soap:operation soapAction="http://tempuri.org/ObtenerMensaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajeTecnico">
      <soap:operation soapAction="http://tempuri.org/ObtenerMensajeTecnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajeXml">
      <soap:operation soapAction="http://tempuri.org/ObtenerMensajeXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarComprobante">
      <soap:operation soapAction="http://tempuri.org/CancelarComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobantePaquete">
      <soap:operation soapAction="http://tempuri.org/ComprobantePaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoTxt">
      <soap:operation soapAction="http://tempuri.org/RecibeInfoTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WakeUp">
      <soap:operation soapAction="http://tempuri.org/WakeUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoPagos">
      <soap:operation soapAction="http://tempuri.org/RecibeInfoPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoXml">
      <soap:operation soapAction="http://tempuri.org/RecibeInfoXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPdfCancelacion">
      <soap:operation soapAction="http://tempuri.org/GenerarPdfCancelacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreviewPdf">
      <soap:operation soapAction="http://tempuri.org/PreviewPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPDF">
      <soap:operation soapAction="http://tempuri.org/obtenerPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerXML">
      <soap:operation soapAction="http://tempuri.org/obtenerXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPdf">
      <soap:operation soapAction="http://tempuri.org/GenerarPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPdfPagos">
      <soap:operation soapAction="http://tempuri.org/GenerarPdfPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Timbrar">
      <soap:operation soapAction="http://tempuri.org/Timbrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsEmisionSoap12" type="tns:WsEmisionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerMensaje">
      <soap12:operation soapAction="http://tempuri.org/ObtenerMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajeTecnico">
      <soap12:operation soapAction="http://tempuri.org/ObtenerMensajeTecnico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMensajeXml">
      <soap12:operation soapAction="http://tempuri.org/ObtenerMensajeXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarComprobante">
      <soap12:operation soapAction="http://tempuri.org/CancelarComprobante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobantePaquete">
      <soap12:operation soapAction="http://tempuri.org/ComprobantePaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoTxt">
      <soap12:operation soapAction="http://tempuri.org/RecibeInfoTxt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WakeUp">
      <soap12:operation soapAction="http://tempuri.org/WakeUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoPagos">
      <soap12:operation soapAction="http://tempuri.org/RecibeInfoPagos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibeInfoXml">
      <soap12:operation soapAction="http://tempuri.org/RecibeInfoXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPdfCancelacion">
      <soap12:operation soapAction="http://tempuri.org/GenerarPdfCancelacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreviewPdf">
      <soap12:operation soapAction="http://tempuri.org/PreviewPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPDF">
      <soap12:operation soapAction="http://tempuri.org/obtenerPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerXML">
      <soap12:operation soapAction="http://tempuri.org/obtenerXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPdf">
      <soap12:operation soapAction="http://tempuri.org/GenerarPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarPdfPagos">
      <soap12:operation soapAction="http://tempuri.org/GenerarPdfPagos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Timbrar">
      <soap12:operation soapAction="http://tempuri.org/Timbrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsEmision">
    <wsdl:port name="WsEmisionSoap" binding="tns:WsEmisionSoap">
      <soap:address location="http://localhost:49558/wsEmision.asmx" />
    </wsdl:port>
    <wsdl:port name="WsEmisionSoap12" binding="tns:WsEmisionSoap12">
      <soap12:address location="http://localhost:49558/wsEmision.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>