Control/Web References/WsEmail/serviceemail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="enviar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servidor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="puerto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ssl" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="emailCredencial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passCredencial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="archivoPDF" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="nombrePDF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="archivoXML" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="enviarSoapIn">
    <wsdl:part name="parameters" element="tns:enviar" />
  </wsdl:message>
  <wsdl:message name="enviarSoapOut">
    <wsdl:part name="parameters" element="tns:enviarResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceEmailSoap">
    <wsdl:operation name="enviar">
      <wsdl:input message="tns:enviarSoapIn" />
      <wsdl:output message="tns:enviarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceEmailSoap" type="tns:ServiceEmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviar">
      <soap:operation soapAction="http://tempuri.org/enviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceEmailSoap12" type="tns:ServiceEmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="enviar">
      <soap12:operation soapAction="http://tempuri.org/enviar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEmail">
    <wsdl:port name="ServiceEmailSoap" binding="tns:ServiceEmailSoap">
      <soap:address location="http://dataexpressmx.com/wsEmail/serviceemail.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceEmailSoap12" binding="tns:ServiceEmailSoap12">
      <soap12:address location="http://dataexpressmx.com/wsEmail/serviceemail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>