DataExpressWeb/Web References/wsOpera/wsOpera.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertDocument" />
  </wsdl:message>
  <wsdl:message name="ConvertDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="WsOperaSoap">
    <wsdl:operation name="ConvertDocument">
      <wsdl:input message="tns:ConvertDocumentSoapIn" />
      <wsdl:output message="tns:ConvertDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsOperaSoap" type="tns:WsOperaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDocument">
      <soap:operation soapAction="http://tempuri.org/ConvertDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsOperaSoap12" type="tns:WsOperaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDocument">
      <soap12:operation soapAction="http://tempuri.org/ConvertDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsOpera">
    <wsdl:port name="WsOperaSoap" binding="tns:WsOperaSoap">
      <soap:address location="http://localhost:49558/wsOpera.asmx" />
    </wsdl:port>
    <wsdl:port name="WsOperaSoap12" binding="tns:WsOperaSoap12">
      <soap12:address location="http://localhost:49558/wsOpera.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>