DataExpressWeb/Web References/wsRestaurantes/wsRestaurantes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecibeInfoTxt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txtInvoice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="facturar" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibeInfoTxtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibeInfoTxtResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecibeInfoTxtSoapIn">
    <wsdl:part name="parameters" element="tns:RecibeInfoTxt" />
  </wsdl:message>
  <wsdl:message name="RecibeInfoTxtSoapOut">
    <wsdl:part name="parameters" element="tns:RecibeInfoTxtResponse" />
  </wsdl:message>
  <wsdl:portType name="wsRestaurantesSoap">
    <wsdl:operation name="RecibeInfoTxt">
      <wsdl:input message="tns:RecibeInfoTxtSoapIn" />
      <wsdl:output message="tns:RecibeInfoTxtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsRestaurantesSoap" type="tns:wsRestaurantesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibeInfoTxt">
      <soap:operation soapAction="http://tempuri.org/RecibeInfoTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsRestaurantesSoap12" type="tns:wsRestaurantesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibeInfoTxt">
      <soap12:operation soapAction="http://tempuri.org/RecibeInfoTxt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsRestaurantes">
    <wsdl:port name="wsRestaurantesSoap" binding="tns:wsRestaurantesSoap">
      <soap:address location="http://localhost:49558/wsRestaurantes.asmx" />
    </wsdl:port>
    <wsdl:port name="wsRestaurantesSoap12" binding="tns:wsRestaurantesSoap12">
      <soap12:address location="http://localhost:49558/wsRestaurantes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>